p {
    color: beige;
    font-size: 12;
}

* {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    size-adjust: 10px
}

html {
    font-size: 12px;
}

body {
    background-color: black;
    color: beige;
}

img {
    width: 20%
} 

.container {
    max-width: 1450px;
    width: 95%%;
    margin: auto;
    display: grid;
    padding: 5;
}

.jobTitle {
    text-emphasis: bold;
}


body {
    border-width: 1px;
    border-style: dashed;
    border-color: red;
}

.projects {
    color: gray;
    text-decoration: underline;
    font-size: large;

}

.experience {
    color: gray;
    text-decoration: underline;
    font-size: large;
}

.jobTitle {
    color: gray;
    text-decoration: underline;
    font-size: large;
}

